/*  your css code here. If applicable */
body {
	background-color: #f5f5f5;
}

.header {
	background-color: #011e29;
	text-align: center;
	padding: 3px;
	color: white;
}

.section-div {
	display: flex;
	gap: 4px;
	align-items: flex-start;	
}

.pictorial-news-section, .main-article, .latest-news-section {
	background-color: white;
	width: 200px;
	padding: 4px;
	border-radius: 5px;
}

.image {
	width: 150px;
	height: auto;
}
